@charset "UTF-8";

/*Em css id é  #

  Em css class é .  
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4d7e80;
    font-family: sans-serif;
}

h1{
    color: #0634cc;
}

#principal{
    text-align: center;
    background-color: aquamarine;
}

h2{
    color: #080942;
}

.basico{
    font-weight:lighter;
    color: rgb(41, 77, 41);
}

.intermediario{
    font-weight: bold;
    color: rgb(156, 156, 78);
}

.avançado{
    font-weight: bolder;
    color: rgb(66, 35, 35);
}

